*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Buurtcampus;
    src: url("../assets/Buurtcampus.ttf");
}

h1, h2, h3{
    font-family: BuurtCampus;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
}

.buurtcampusimg{
    margin-top: 20px;
    margin-left: 1em;
}

header{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3em;
    color:#333467;
}

header h1{
    font-family: BuurtCampus;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

header img{
    width: 100%;
    max-width: 35em;
}

#steklogo{
    width: 1.5em;
}

header article{
    margin-top: 1em;
    width: 90%;
    max-width: 30em;
}

header h2{
    margin-bottom: 0.5em;
    text-align: center;
}

.container{
    margin-bottom: 2em;
    padding-bottom: 2em;
    background-color: #333467;
}

.container h2{
    text-align: center;
    color: white;
    padding: 1em;
}

.stekjeslijst{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1em;
}

.stekjeslijst::-webkit-scrollbar{
    height: 0.5em;
}

.stekjeslijst::-webkit-scrollbar-thumb{
    background-color: white;
}

.stekjeslijst::-webkit-scrollbar-track{
    background-color: grey;
}
.stekjeslijst::-webkit-scrollbar-button{
    width: 2em;
}

.stekjeslijst > div{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.stekjeslijst > div > img{
    width: 300px;
}

.stekjeslijst > div > button{
    position: absolute;
    top: 20%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-size: 3em;
    background-color: transparent;
    background-position: top center;
    border: none;
    border-radius: 0.4em;
}

button > img{
    width: 60px;
}

dialog{
    border-radius: 1em;
    margin: auto;
    width: 30em;
    max-width: 30em;
    padding: 0;
}

.stekdialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1em;
    padding: 1em;
    padding-bottom: 2em;
    color: white;
    background-color: #333467;
}

.stekdialog button{
    margin-left: 90%;
}

dialog:modal{
    max-width: 100%;
}

dialog::backdrop{
    opacity: 70%;
    background-color: black;
}

.stekdialog > img{
    width: 100%;
}

section > ul{
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color:#333467;
}

.content > article{
    max-width: 30em;
    width: 90%;
}

.content h2{
    text-align: center;
    margin: 1em;
}

footer{
    margin-top: 5em;
    text-align: center;  
    background-color: #333467;
    padding: 1em;
    color: white;
}

footer img{
    width: 100%;
    max-width: 600px;
}

@media screen and (min-width: 820px){

    header {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        column-gap: 4em;
    }

    .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 5em;
    }

    .content h2{
        text-align: center;
        margin-bottom: 1em;
    }

    .container{
        display: flex;
        flex-direction: column;
        background-color: #333467;
        justify-content: center;
        align-items: center;
    }

    .stekjeslijst{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        padding-bottom: 2em;
    }

    button > img{
        width: 90px;
        height: 90px;
        transition: 0.2s;
    }

    button > img:hover{
        transform: scale(1.2);
    }
    
    .stekjeslijst > div > img {
        width: 500px;
    }
    
    #fotostek1{
        border-radius: 1em;
        width: 400px;
        margin-top: 2em;
    }

    dialog{
        border-radius: 1em;
        margin: auto;
        width: 30em;
        padding: 0;
        overflow-y: hidden;
        transition: 0.2s;
    }
    
    .stekdialog{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
        gap: 1em;
        padding: 1em;
        padding-bottom: 2em;
        color: white;
        background-color: #333467;
    }
    
    .stekdialog button{
        margin-left: 90%;
    }
    
    dialog::backdrop{
        opacity: 70%;
        background-color: black;
    }
    
    .stekdialog > img{
        width: 100%;
    }
}
